# nginx (docker) / Worker custom domain
SERVICES_HOSTNAME=services1.iresolvedllc.com

# setup.sh
SSL_CERT_EMAIL=example@email.invalid

# extension-proxy
## Used for signing proxied CRX downloads
HMAC_SECRET=
PROXY_BASE_URL=https://services1.iresolvedllc.com/ext

# ubo
UBO_PROXY_BASE_URL=https://services1.iresolvedllc.com/ubo/

## Optional: use the original assets.json file from uBlock rather than
## a version which includes Helium-specific filters
UBO_USE_ORIGINAL_UBLOCK_ASSETS=

## Optional: use an entirely custom assets.json file
UBO_ASSETS_JSON_URL=
UBO_ASSETS_JSON_SHA256=
